<footer>
  <h4>WebApp crée dans un cadre d'enseignement</h4>
  Crée par la Team Rose : Nahla NGUYEN, Lucas MARTINS, Aiman TAHIR
  <br>
  Etudiants en 1ère Année de BTS SIO chez Paris School of Technology and Business
  <br>
  <small>&copy; La Team Rose</small>
</footer>
