<header>
  <h2><a href="/">Notify</a></h2>
  <nav>
    <% if (user) { %>
    <a href="/create-post">Créer Post</a>
    <a href="/logout">Deconnexion</a>
    <% } else { %>
    <a href="/login">Connectez-vous</a>
    <% } %>
  </nav>
</header>
